{% extends "../base.html" %}
{% load widget_tweaks %}
{% load account socialaccount %}
{% block head_title %}
    Sign in
{% endblock %}
{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Logout</h2>
            <p class="mt-2 text-gray-900 dark:text-white">Are you sure?</p>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                        Logout
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
