{% extends "../base.html" %}

{% block head_title %}
    Sign Up Closed
{% endblock head_title %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Sign Up Closed</h2>
            <p class="mb-4 text-gray-900 dark:text-white">
                We are sorry, but the sign up is currently closed.
            </p>
        </div>
    </div>
{% endblock content %}
