{% extends "../base.html" %}
{% load widget_tweaks %}

{% block head_title %}Sign up{% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Signup</h2>
            {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                        <li class="my-6 font-medium tracking-wide text-red-500">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="{% url 'account_signup' %}" method="post">
                {% csrf_token %}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    {% for field in form.visible_fields %}
                        {% if field.name != "remember" %}
                            <div class="sm:col-span-2">
                                {{ field|add_label_class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" }}
                                {% if field.errors %}
                                    {% render_field field class="bg-gray-50 border border-red-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-red-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                                {% else %}
                                    {% render_field field class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" %}
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="flex items-center max-w-xs mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
                                        {{ error }}
                                    </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    Log In
                </button>
            </form>
        </div>
    </section>
{% endblock %}
