{% extends "../base.html" %}

{% block head_title %}
    Verify Your E-mail Address
{% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Verify Your Email Address</h2>
            <p class="mb-4 text-gray-900 dark:text-white">
                We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
                Please contact us if you do not receive it within a few minutes.
            </p>
        </div>
    </section>
{% endblock %}
